# --- IDE and Editor files ---
.idea/
.vscode/
*.swp
*.swo

# --- OS Specific (MacOS, etc.) ---
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.fseventsd
.TemporaryItems
.DocumentRevisions-V100
.com.apple.timemachine.donotpresent

# --- Terraform ---
**/.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform*

# --- Python Virtualenv & Pycache ---
env/
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# --- Data, Volumes, and Uploads ---
volumes/
data/
uploads/
additional/clickhouse/**/*.csv

# --- Secrets and Environment variables ---
secrets/
*.env
*.env.*
!*.env.example
/infra/env/

# --- Project-specific ignores ---
airflow.cfg
additional/bi-infra/**/superset_config.py
additional/bi-infra/**/*config.py
additional/bi-infra/**/*secret.py

# --- Logs and Miscellaneous ---
*.log
*.bak
*.tmp
*.temp
*.pid
*.old
base-infra/ch_with_storage/logs/
